@font-face {
    font-family: anton;
    src: url(fonts/Anton-Regular.ttf);
}
@font-face {
    font-family: open;
    src: url(fonts/OpenSans-VariableFont_wdth\,wght.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
background-image: url(img/beautiful-shot-thick-forest-fog-with-pine-trees-white-space-text.jpg); 
background-repeat: no-repeat;
background-size: 100%;
width: 100%;
}
#principal {
    margin-top: 5em;
    width: 100%;
    font-size: 150%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: open;
}
#principal h1{
    font-family: anton;
    margin-top: 1em;
    font-size: 500%;
}
.sc1 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: open;
}
.sc1 p{
    color: white;
}
.inicio {
margin-top: 10em;
width: 100%;
display: flex;
align-items:center;
justify-content: center;
flex-direction: column;
}
.fot{
    margin-top: 5em;
    width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   
}
.paginas{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;

}
.paginas ul{
    color: white;
    
    font-family: open;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}
.tx1 {
    color: #dde8e7;
}
.tx2 {
    color: #dde8e7;
    padding-inline: 8em;
}
.tx2 {
  color: #dde8e7;
}
.tx3{
    color: #dde8e7;
    
}
#historia{
    padding-top: 16em;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 120%;    
    font-family: open;
}
.texto h1{
    color: rgb(0, 0, 0);
}
#historia .historiaimg{
    width: 30%;
    display: flex;
    flex-direction: column;
    
}
#historia .img2{
    padding-bottom: 2em;
}
.texto{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.texto h1{
    padding-bottom: 1em;
}
#historia2{
    background-color: #dde8e7;
    padding-top: 8em;
    padding-bottom: 8em;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 140%;
    font-family: open;
   }
.historia2img{
    width: 30%;
    display: flex;
    flex-direction: column;
}
.texto2{
    background-color: #dde8e7;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.texto2 h1{
    padding-bottom: 1em;
}
.datosimportantes{
    background-color:rgb(39, 39, 39);
    color: white;
    padding-top: 8em;
    padding-bottom: 8em;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 140%;
    font-family: open;
}
.texto3{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.texto3 h2{
    padding-bottom: 1em;
}
#titulo{
    background-color: #dde8e7;
    font-family: anton;
    font-size: 400%;
    display: flex;
    justify-content: center;
    padding-top: 5em;
    padding-bottom: 3em;
}
.industria h3{
    padding-bottom: 1.5em;
}
.industria{
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr;
    font-size: 110%;
    font-family: open;
}

#alpina{
    grid-column: 1;
    grid-row: 1;
    background-color:rgb(39, 39, 39);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 2em;
}
.alpi{
    grid-column: 1;
    grid-row: 2;
    background-color:rgb(39, 39, 39);
    display: flex;
    justify-content: center;
    align-items: center;
}
#alpi2{
    width: 60%;
    padding-bottom: 2em;
}

#sanlorenzo{
    grid-column: 2;
    grid-row: 1;
    display: flex;
    background-color: #dde8e7;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 2em;
}
.san{
    grid-column: 2;
    grid-row: 2;
    background-color: #dde8e7;
    display: flex;
    justify-content: center;
    align-items: center;
}
#san2{
    width: 70%;
}
.koyo{
    grid-column: 1;
    grid-row: 3;
    background-color: #dde8e7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 2em;
}
#koyito{
    grid-column: 1;
    grid-row: 4;
    background-color: #dde8e7;
    display: flex;
    justify-content: center;
    align-items: center;
}
#koyito2{
    width: 50%;
    padding-bottom: 3em;
}

#corona{
    grid-column: 2;
    grid-row: 3;
    background-color:rgb(39, 39, 39);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 2em;
}
#coronita{
    grid-column: 2;
    grid-row: 4;
    background-color:rgb(39, 39, 39);
    display: flex;
    justify-content: center;
    align-items: center;
}
#coronita2{
    width: 70%;
}
#turismo{
    padding-top: 3em;
    padding-bottom: 3em;
    background-color:rgb(39, 39, 39);
    color: white    ;
    font-size: 130%;
    font-family: open;
    display: flex;
    justify-content: space-between; 
}
 #turismo2{
    width: 110%;
 
}
#tu {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
#turi {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

#turismo h3{
    padding-top: 1em;
    padding-bottom: 0.5em;
}
#turismo h2{
    padding-top: 1em;
    padding-bottom: 0.5em;
}
    .turismo h1{
    padding-top: 1em;
    padding-bottom: 0.5em;
}
#ultima{
    background-color: #dde8e7;
    padding-top: 3em;
    padding-bottom: 3em;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#foto{
    width: 80%;
}
#footer{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 3em;
    padding-bottom: 3em;
    font-family: open;
}
#footer h1{
    font-family: anton;
    font-size: 400%;
}
#footer h3{
    padding-top: 2em;
    padding-bottom: 2   em;
}
@media only screen and (max-width: 600px) {
    body{
        background-image: url(img/fondo\ cel.jpg)!important;
    }
    #historia .historiaimg{
 width: 40%;
    }
    #turi{
        font-size: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 4em;
        
    }
#tu{
    width: 80% !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inicio h2{
    color: #dde8e7;
}
.inicio p{
    margin-top: 2em;
}
.datosimportantes{
    flex-direction: column;
}
#titulo{
    padding-top: 2em;
    padding-bottom: 2em;
}
.industria p{
    margin-inline: 1em;
}
#alpina h3{
    padding-top: 1em;
}
.koyo h3{
   padding-top: 1em;
}
#corona {
    margin-top: .¡.;
}
#turismo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#turi h1{
  padding-bottom: 1em;
}
}
@media only screen and (max-width: 720px){
    body{
        background-image: url(img/FONDO\ tablet.jpg); 
     }
     .paginas{
        width: 70%;
     }
     #historia .historiaimg{
        width: 40%;
           }
           #turi{
               font-size: 80%;
               display: flex;
               justify-content: space-between;
               align-items: center;
               padding-left: 4em;
               
           }
       #tu{
           width: 80% !important;
           display: flex;
           justify-content: center;
           align-items: center;
       }
       .inicio h2{
           color: #dde8e7;
       }
       .inicio p{
           margin-top: 2em;
       }
       .datosimportantes{
           flex-direction: column;
       }
       #titulo{
           padding-top: 2em;
           padding-bottom: 2em;
       }
       .industria p{
           margin-inline: 1em;
       }
       #alpina h3{
           padding-top: 1em;
       }
       .koyo h3{
          padding-top: 1em;
       }
       #corona {
           margin-top: .¡.;
       }
       #turismo{
           display: flex;
           justify-content: center;
           align-items: center;
           flex-direction: column;
       }
       #turi h1{
         padding-bottom: 1em;
       }
 }





